.header--container {
  display: flex;
  justify-content: space-between;
  width: min(80vw, 1210px);
  margin: 54px auto 0px auto;
  @media screen and (max-width: 1300px) {
    margin: 54px auto 0px auto;
    gap: 0;
  }
}

.header--nav-items {
  display: flex;
  gap: 30px;
  align-items: center;

  .header--nav {
    ul {
      display: flex;
      gap: 30px;
      @media screen and (max-width: 1071px) {
        display: none;
      }
      li {
        list-style-type: none;

        // The <Link> component is really just an <a> with a className. But we don't have any
        // other links, so let's just style the <a> component
        a {
          color: #292f36;
          font-family: 'Jost Variable';
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 125%;
          text-decoration: none;

          &:hover {
            color: #c76904;
          }
        }
      }
    }
  }
}

.burger-menu {
  display: block;
  @media screen and (min-width: 1072px) {
    display: none;
  }
}

@media screen and (max-width: 1071px) {
  .header--nav-items {
    width: 100%;

    img {
      display: none;
    }
  }
  .header--nav {
    display: none;
  }
  .header--nav.open {
    display: block;
    ul {
      display: flex;
      padding: 0;
      position: fixed;
      top: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      flex-direction: column;
      padding-top: 9%;
      align-items: center;
      height: 100vh;
      width: 100%;
      background-color: #fff;
      transition: left 1s;

      li {
        a {
          font-size: 1.75rem;
        }
      }
    }
  }
}
