.header--nav-items {
  display: flex;
  gap: 30px;
  align-items: center;

  li {
    list-style-type: none;
  }

  // The <Link> component is really just an <a> with a className. But we don't have any
  // other links, so let's just style the <a> component
  a {
    color: #292f36;
    font-family: 'Jost Variable';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-decoration: none;

    &:hover {
      color: #c76904;
    }
  }
}
