@import '/src/assets/styles/FontRoots.scss';

.peopleThinkCard--container {
  width: 33%;
  @media screen and (max-width: 1360px) {
    width: unset;
  }
  padding: 54px 30px;
  background: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;

  .person--container {
    display: flex;
    gap: 23px;
    align-items: center;
    img {
      border-radius: 50%;
    }

    .person-info--container {
      * {
        margin: 0;
      }

      h4 {
        @extend .fontstyle-dmserif;
        font-size: 25px;
      }

      p {
        @extend .fontstyle-jost;
        font-size: 18px;
      }
    }
  }

  .person--opinion {
    @extend .fontstyle-jost;
  }
}
