@import '/src/assets/styles/FontRoots.scss';

.aboutus--container {
  width: 63%;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
  margin: 150px auto 0;

  .aboutus--quote {
    width: 80%;
    flex-shrink: 0;

    margin: 0 auto;

    border-left: 2px solid black;
    border-right: 2px solid black;

    h2 {
      @extend .fontstyle-dmserif;
      letter-spacing: 0.7px;
      font-size: clamp(1rem, 3vw, 3rem);
      text-align: center;
    }
    h3 {
      @extend .fontstyle-jost;
      font-size: clamp(1rem, 1.75vw, 2rem);
      letter-spacing: 0.25px;
      text-align: center;
    }
  }
  .aboutus--big-image-cards--container {
    display: flex;
    flex-direction: column;
    gap: 180px;
    margin-bottom: 205px;
    margin-top: 134px;
  }
  .aboutus--what-people-thinks--container {
    background: #d8a876;
    border-radius: 70px;
    padding: 88px 29.5px;
    h3 {
      color: #fff;
      text-align: center;
      font-family: 'DM Serif Display';
      font-size: 50px;
      font-weight: 400;
      line-height: 62.5px;
      letter-spacing: 1px;
      margin: 0;
    }

    .aboutus--what-people-thinks-cards--container {
      display: flex;
      gap: 20px;
      margin-top: 38px;
      @media screen and (max-width: 1360px) {
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
  }
  .aboutus--contactform--container {
    margin-top: 296px;
    display: flex;
    flex-direction: column;
    h2 {
      @extend .fontstyle-dmserif;
      letter-spacing: 1px;
      line-height: 125%;
      font-size: 50px;
      text-align: center;
      width: 50%;
      margin: 0 auto;
    }
  }
  .aboutus--contactform--form {
    margin-top: 100px;
    margin-bottom: 380px;
    & > form {
      display: flex;
      flex: 0 0 1;
      flex-direction: column;
      box-sizing: border-box;
    }
    .contact--form--field-container {
      margin-bottom: 0px;
      width: 100%;

      input {
        width: 100%;
      }
    }
    .contact--form--field--message > input {
      width: 100%;
      margin-top: 200px;
    }
    .contact--form--field-pair {
      display: flex;
      flex-direction: row;
      gap: 21%;
    }
    input {
      @extend .fontstyle-jost;
      appearance: none;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid black;
      outline: none;
      padding-bottom: 13px;
      &::placeholder {
        @extend .fontstyle-jost;
        margin-bottom: 13px;
      }
      & ~ div {
        @extend .fontstyle-jost;
        font-size: 14px;
        color: #f44336;
      }
    }
  }
}
