@import '_general.scss';
@import '_variables.scss';
@import '_classes.scss';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans/SourceSans3-VariableFont_wght.ttf')
    format('truetype');
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 215px;
  background-color: transparent;

  nav {
    ul {
      display: flex;
      gap: 70px;

      li {
        padding-left: 14px;
      }

      li:hover::marker {
        content: url('../img/dot.svg');
      }

      li::marker {
        content: url('../img/transp-dot.svg');
      }

      a {
        text-decoration: none;
        color: $primary-color;
        font-family: $sourcesans;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

.social-media {
  display: flex;
  gap: 20px;

  .circle {
    width: 40px;
    height: 40px;
    border: 1px solid $primary-color;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
  }
}

.main-sec {
  --swiper-pagination-bullet-vertical-gap: 40px;
  height: 800px;

  .first-pagination {
    margin-right: 52px;
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    opacity: 1;
    border: 1px solid $primary-color;
  }

  .swiper-pagination-bullet-active {
    background: $primary-color;
  }

  .swiper-slide {
    padding-top: 330px;
  }
  h1 {
    color: $primary-color;
    font-family: $montserrat;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-align: center;
  }

  h2 {
    color: $primary-color;
    font-family: $montserrat;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    text-align: center;
  }
}

.bg-1 {
  background: url('../img/bg-1.png');
  background-size: cover;
}

.bg-2 {
  background: url('../img/bg-2.png');
  background-size: cover;
}

.bg-3 {
  background: url('../img/bg-3.png');
  background-size: cover;
}

.bg-4 {
  background: url('../img/bg-4.png');
  background-size: cover;
}

.bg-5 {
  background: url('../img/bg-5.png');
  background-size: cover;
}

.wwd-sec {
  padding-top: 100px;
  padding-bottom: 150px;

  .title-container {
    @extend %title-container;
  }

  h4 {
    color: $secondary-color;
    font-family: $montserrat;
    font-size: 1.375rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  h2 {
    @extend %title-style;
  }

  p {
    color: $secondary-color;
    font-family: $opensans;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    width: 470px;
  }

  .btn-details {
    margin-top: 40px;
    margin-bottom: 60px;
    @extend %btn-details;
  }

  .btn-details:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }

  a {
    text-decoration: none;
    color: #000;
    font-family: $opensans;
    font-style: italic;
    font-weight: 400;
    font-size: 0.9375rem;
  }

  a:hover {
    text-decoration: underline;
  }

  a:focus {
    color: #55b7ff;
  }

  li {
    padding-left: 10px;
    margin-left: 10px;
  }

  li::marker {
    content: url('../img/loc-marker.svg');
  }

  .project1-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 150px;
    margin-bottom: 175px;
    img {
      width: 630px;
      height: 470px;
      object-fit: cover;
      object-position: 90% 10%;
      box-shadow: -260px -56px 0 0 #55b7ff;
    }
  }

  .project2-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 70px;
    img {
      width: 630px;
      height: 470px;
      object-fit: cover;
      object-position: 90% 10%;
      box-shadow: 260px -56px 0 0 #7e5aff;
    }
  }
}

.news-sec {
  background: url('../img/news-background.jpg') center center no-repeat fixed;
  background-size: cover;
  padding-top: 120px;
  .title-container {
    @extend %title-container;
    margin-bottom: 90px;
    .line {
      border-bottom: 1px solid $primary-color;
    }
    h2 {
      color: $primary-color;
    }
  }

  .swiper-container {
    // position: relative;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    --swiper-pagination-bullet-horizontal-gap: 25px;

    .swiper-wrapper {
      display: flex;

      .swiper-slide {
        flex-shrink: 0;
        background-color: $primary-color;
        margin: 0 15px;
        height: 514px;
        width: 370px !important;

        img {
          width: 370px;
          height: 245px;
          object-fit: cover;
        }

        .news-desc {
          padding: 30px 20px;
          h4 {
            @extend %title-style;
            font-size: 1.375rem;
            width: 330px;
          }

          h5 {
            font-family: $opensans;
            font-weight: 400;
            font-size: 1.125rem;
            color: $secondary-color;
          }
          .author-container {
            margin-top: 39px;
            display: flex;
            gap: 20px;
            img {
              height: 60px;
              width: 60px;
              border-radius: 50%;
            }

            .author-about {
              display: flex;
              flex-direction: column;

              h6 {
                @extend %title-style;
                font-weight: 400;
                font-size: 1.125rem;
              }

              p {
                color: #55b7ff;
                font-size: 0.875rem;
                font-family: $montserrat;
              }
            }
          }
        }
      }
    }

    .news-btn-prev,
    .news-btn-next {
      position: absolute;
      transform: translateY(-50%);
      border: 1px solid $primary-color;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      cursor: pointer;
      z-index: 1;
    }

    .news-btn-prev {
      right: 260px;
      margin-top: -255px;
      background: url('../img/arrow-right.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    .news-btn-next {
      left: 260px;
      margin-top: -255px;
      background: url('../img/arrow-left.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    .news-pag {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 120px;

      .swiper-pagination-bullet {
        background-color: transparent;
        opacity: 1;
        border: 1px solid $primary-color;
      }

      .swiper-pagination-bullet-active {
        background: $primary-color;
      }
    }
  }
}

.gallery-sec {
  .title-container {
    margin-top: 150px;
    @extend %title-container;
    margin-bottom: 90px;
  }

  #lightgallery {
    width: 1180px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;

    a {
      position: relative;
      overflow: hidden;
    }

    a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    a:hover::before {
      opacity: 1;
    }

    a img:nth-child(2) {
      object-fit: cover;
    }

    a:first-child {
      grid-row: span 2;
      grid-column: span 2;
      width: 580px;
      height: 438px;

      img:nth-child(2) {
        width: 100%;
        height: 100%;
      }
    }

    a:nth-child(2),
    img:nth-child(2) {
      grid-area: 1 / 3 / 2 / 4;
      width: 285px;
      height: 214px;
    }

    a:nth-child(3),
    img {
      grid-area: 1 / 4 / 2 / 5;
      width: 285px;
      height: 214px;
    }

    a:nth-child(4),
    img {
      grid-area: 2 / 3 / 3 / 4;
      width: 285px;
      height: 214px;
    }

    a:nth-child(5),
    img {
      grid-column: 4;
      grid-row: 2;
      width: 285px;
      height: 214px;
    }

    .magnifier {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    a:hover {
      .magnifier {
        opacity: 1;
      }
    }
  }

  .see-more-btn {
    margin-top: 60px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;

    .btn-details {
      @extend %btn-details;
    }

    .btn-details:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}

.map-sec {
  #map {
    height: 696px;
    width: 100%;
    background-color: #a0a0a0;
    position: relative;

    .map-link {
      position: relative;
      display: block;
      text-decoration: none;
      height: 696px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 24px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    .map-link:hover span {
      opacity: 1;
    }
  }
}

footer {
  background: url('../img/bg-footer.png');
  background-size: cover;
  padding: 203px 0 234px;

  .footer-container {
    max-width: 770px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      p {
        margin-top: 41px;
        color: $primary-color;
        font-family: $montserrat;
        font-size: 0.875rem;
        font-weight: 400;
      }
    }

    .social-media {
      margin-top: 7px;
    }
  }
}
