*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
button {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.container {
  width: min(90%, 1400px);
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.news-sec .title-container h2, .wwd-sec h2, .wwd-sec .title-container h2 {
  font-family: "Montserrat";
  font-size: 2.75rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2c4058;
}

.news-sec .title-container, .wwd-sec .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/Source_Sans/SourceSans3-VariableFont_wght.ttf") format("truetype");
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 53px 215px;
  background-color: transparent;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
header nav ul li {
  padding-left: 14px;
}
header nav ul li:hover::marker {
  content: url("../img/dot.svg");
}
header nav ul li::marker {
  content: url("../img/transp-dot.svg");
}
header nav ul a {
  text-decoration: none;
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
header .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
header .social-media .circle {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  padding-top: 9px;
}

.main-sec {
  --swiper-pagination-bullet-vertical-gap: 40px;
  height: 800px;
}
.main-sec .first-pagination {
  margin-right: 52px;
}
.main-sec .swiper-pagination-bullet {
  background-color: transparent;
  opacity: 1;
  border: 1px solid #fff;
}
.main-sec .swiper-pagination-bullet-active {
  background: #fff;
}
.main-sec .swiper-slide {
  padding-top: 330px;
}
.main-sec h1 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
}
.main-sec h2 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 5.4px;
  text-transform: uppercase;
  text-align: center;
}

.bg-1 {
  background: url("../img/bg-1.png");
  background-size: cover;
}

.bg-2 {
  background: url("../img/bg-2.png");
  background-size: cover;
}

.bg-3 {
  background: url("../img/bg-3.png");
  background-size: cover;
}

.bg-4 {
  background: url("../img/bg-4.png");
  background-size: cover;
}

.bg-5 {
  background: url("../img/bg-5.png");
  background-size: cover;
}

.wwd-sec {
  padding-top: 95px;
  padding-bottom: 150px;
}
.wwd-sec .title-container .line {
  margin: 0 auto;
  width: 100px;
  border-bottom: 1px solid #2c4058;
}
.wwd-sec .title-container h2 {
  text-align: center;
}
.wwd-sec h4 {
  color: #2c4058;
  font-family: "Montserrat";
  font-size: 1.375rem;
  font-weight: 400;
  text-transform: uppercase;
}
.wwd-sec p {
  color: #2c4058;
  font-family: "Open Sans";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  width: 470px;
}
.wwd-sec .btn-details {
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: transparent;
  border: 1px solid #2c4058;
  color: #2c4058;
  padding: 16px 41px 17px;
  text-transform: uppercase;
}
.wwd-sec .btn-details:hover {
  background-color: #2c4058;
  color: white;
}
.wwd-sec a {
  text-decoration: none;
  color: #000;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 0.9375rem;
}
.wwd-sec a:hover {
  text-decoration: underline;
}
.wwd-sec a:focus {
  color: #55b7ff;
}
.wwd-sec li {
  padding-left: 10px;
  margin-left: 10px;
}
.wwd-sec li::marker {
  content: url("../img/loc-marker.svg");
}
.wwd-sec .project1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
  margin-bottom: 175px;
}
.wwd-sec .project1-container img {
  width: 630px;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 90% 10%;
     object-position: 90% 10%;
  -webkit-box-shadow: -260px -56px 0 0 #55b7ff;
          box-shadow: -260px -56px 0 0 #55b7ff;
}
.wwd-sec .project2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}
.wwd-sec .project2-container img {
  width: 630px;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 90% 10%;
     object-position: 90% 10%;
  -webkit-box-shadow: 260px -56px 0 0 #7e5aff;
          box-shadow: 260px -56px 0 0 #7e5aff;
}

.news-sec {
  background: url("../img/news-background.jpg") center center no-repeat fixed;
  background-size: cover;
  padding-top: 120px;
}
.news-sec .title-container .line {
  margin: 0 auto;
  width: 100px;
  border-bottom: 1px solid #fff;
}
.news-sec .title-container h2 {
  text-align: center;
  color: #fff;
}
.news-sec .swiper-secondary {
  overflow: visible;
}
.news-sec .swiper-secondary .swiper-wrapper .swiper-slide {
  background-color: #fff;
}
.news-sec .swiper-secondary .swiper-wrapper .swiper-slide img {
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-sec .swiper-secondary .swiper-wrapper .swiper-slide .author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news-sec .swiper-secondary .swiper-wrapper .swiper-slide .author-container img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}