@import '../../assets/styles/FontRoots.scss';

.readMoreCard--container {
  text-align: center;
  display: flex;
  flex-direction: column;

  .readMoreCard--header {
    @extend .fontstyle-dmserif;
    margin: 95px 0 0 0;
  }

  .readMoreCard--body {
    @extend .fontstyle-jost;
    margin-bottom: 0;
  }

  .readMoreCard--button-wrapper {
    margin: 52px 0 0 0;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .readMoreCard--button--text {
    @extend .fontstyle-jost;
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.36px;
  }
}
