@import 'src/assets/styles/FontRoots.scss';

.flex-row {
  display: flex;
  gap: 40px;
}

.flex-row-rtl {
  @extend .flex-row;
  flex-direction: row-reverse;
}

.big-image-card--container {
  @media screen and (max-width: 1150px) {
    border: 5px solid #d8a876;
    border-radius: 70px;
    padding: 88px 29.5px;
  }
  .big-image-card--text-container--header {
    @extend .fontstyle-dmserif;
    letter-spacing: 1px;
    font-size: clamp(2rem, 3.5vw, 4rem);
    margin-top: 0;
    margin-bottom: 23px;
  }
  .big-image-card--text-container--desc {
    @extend .fontstyle-jost;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .big-image-card--image {
    width: 100%;
    max-width: 718px;
    max-height: 500px;
    object-fit: contain;
  }
}

@media screen and (max-width: 1150px) {
  .flex-row {
    flex-wrap: wrap;
  }

  .flex-row-rtl {
    flex-wrap: wrap;
  }
}
