@import '../../assets/styles/FontRoots.scss';

.projectCard--container {
  width: 45%;
  display: flex;
  flex-direction: column;

  .project-descr-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .project-descr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      * {
        margin: 0;
      }

      h4 {
        @extend .fontstyle-dmserif;
      }

      p {
        @extend .fontstyle-jost;
      }
    }
  }
}
