@import '../../assets/styles/FontRoots.scss';
footer {
  .footer--container {
    width: 63%;
    margin: 30px auto 0 auto;
    display: flex;
    gap: 100px;

    //this same style h4 is reused three times below, makes sense to offload it here
    h4 {
      @extend .fontstyle-dmserif;
      line-height: 125%;
    }

    .footer--logo-social-info {
      width: 32%;
      display: flex;
      flex-direction: column;
      gap: 18px;

      .footer--logo-desc {
        @extend .fontstyle-jost;
        margin: 0;
      }

      .footer--social-media {
        margin-top: 13px;
        display: flex;
        gap: 54px;
        align-items: center;
      }
    }

    .footer--nav-container {
      width: 21%;

      ul {
        padding: 0;
        list-style-type: none;

        li {
          @extend .fontstyle-jost;
          margin-top: 30px;
        }
      }

      h4 {
        margin: 0;
      }

      p {
        @extend .fontstyle-jost;
        margin-top: 30px;
      }
    }
  }
  .footer--copy {
    @extend .fontstyle-jost;
    margin: 138px auto 15px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  footer {
    .footer--container {
      flex-direction: column;
      align-items: center;
      .footer--logo-social-info {
        align-items: center;
        width: 100%;
        text-align: center;
      }
      .footer--nav-container {
        align-items: center;
        width: 100%;
        h4,
        li,
        p {
          text-align: center;
        }
      }
    }
  }
}
